<html lang="en">
    <head>
        <title>Password Reset Request</title>
    </head>
    <body>
        <h3>Password Reset Request</h3>
        <p>
            Hi, if this was you, Please reset your password by clicking on
            <a href="<%= url %>">Reset Password</a>
        </p>
        <p>
            If you didn't request for this, simply igore this email and your
            password will remain unchanged.
        </p>
        <p>Be aware that this link is only valid for the next 15 minutes.</p>
    </body>
</html>
