<html lang="en">
    <head>
        <title>Verify Your Email</title>
    </head>
    <body>
        <h3>Verify Your Email</h3>
        <p>Hi, thanks for registering.</p>
        <p>
            Please verify your email by clicking the
            <b><a href="<%= url %>">link</a></b
            >.
        </p>
        <p>
            Kindly note that this link will be valid for the next 15 minutes
            only.
        </p>
    </body>
</html>
