<html lang="en">
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h3><%= email %> registered</h3>
        <p>Hi, thanks for verifying your email.</p>
        <p>
            You can now click this link to
            <b><a href="<%= url %>">login</a></b>
        </p>
        <p>Hope you find our service of value!</p>
    </body>
</html>
